body{
background-color: #381b0d;
border: 15px groove rgb(92, 54, 30);

margin:0 auto;
}

h5{font-size:15px;
font-style: Times New Roman;
color:#ffe9de;}

h1{
 font-family: 'Trattatello', fantasy;
 text-align: center;
 font-size: 70px;
 margin-bottom:0%;
 color:#ffe9de;
}

h2{
margin-left:2%;
margin-right:2%;
font-size: 30px;
text-align:center;
font-family: "Courier New", Courier;
color:#ffe9de;
}
h3{text-align:right;
margin-right:2%;
//margin-top:4%;
margin-bottom:0%;
color:#ffe9de;
font-family: "Courier New", Courier;}

h4{color:#381b0d;
font-size:10px;}

img{margin-top:1%;
text-align:center;
width:70%;
float:left;
border: 5px groove black;}

#card{
  margin-bottom: 3%;
margin-left:85%;
padding: 1%;
padding-left: 2%;
padding-right:2%;
text-align:center;
font-size:100%;
color: black;
background-color:white;
text-decoration:none;
border-color: black;
border-style: solid;
border-width: 2px;
}


  a#card:hover{
  background-color:#cfd1c8;
  color:black;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}
.title{
  -webkit-animation: change 5s infinite; 
}

@-webkit-keyframes change{
  0%{color: rgb(0, 0, 0);}
  25%{color: #532d17;}
  50%{color: #8d6f5e}
  74%{color: #ffe9de;}
}
#return{
margin-top:7%;
padding: 1%;
padding-left: 2%;
padding-right:2%;
text-align:center;
font-size:100%;
color: black;
background-color:white;
text-decoration:none;
border-color: black;
border-style: solid;
border-width: 2px;
margin-bottom: 100%
}

  a#return:hover{
  background-color:#cfd1c8;
  color:black;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}
